<div class="gallery d-flex flex-column gap-2">
    <a [href]="'https://wa.me/' + mobile" class="text-black text-decoration-none whatsapp-icon" target="_blank">
        <img src="assets/external/whatsappicon.png" width="180" />
    </a>
    <div class="gallery-image d-flex align-items-center justify-content-center">
        <span class="font-70 text-white fw-bold">Patient Moments & Milestones</span>
    </div>
    <div class="d-flex flex-column gap-1 align-items-center mb-2">
        <div class="gallery-heading-text-1 text-center text-color-pink">Precision Care in Gastrointestinal <br /> Surgery
            <span class="text-black">Transforming Lives, <br/> Procedure At a Time!</span>
        </div>
        <div class="bg-black" style="width: 28%; height: 4px;"></div>
    </div>
    <div class="gallery-pics d-flex flex-column align-items-center gap-3 my-4">
        <div class="d-flex justify-content-evenly w-80">
            <div class="d-flex flex-column gap-3">
                <img src="/assets/external/gallery-1.png" alt="Gallery 1" width="92%"/>
                <div class="d-flex gap-3">
                    <img src="/assets/external/gallery-2.png" alt="Gallery 2" width="45%" />
                    <img src="/assets/external/gallery-3.png" alt="Gallery 3" width="45%" />
                </div>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="/assets/external/gallery-4.png" alt="Gallery 4" width="94%"/>
                <img src="/assets/external/gallery-5.png" alt="Gallery 5" width="94%"/>
            </div>
        </div>
        <div class="d-flex justify-content-evenly w-80">
            <div class="d-flex flex-column gap-3">
                <img src="/assets/external/gallery-6.png" alt="Gallery 6" width="92%"/>
                <div class="d-flex gap-3">
                    <img src="/assets/external/gallery-7.png" alt="Gallery 7" width="45%" />
                    <img src="/assets/external/gallery-8.png" alt="Gallery 8" width="45%" />
                </div>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="/assets/external/gallery-9.png" alt="Gallery 9" width="94%"/>
                <img src="/assets/external/gallery-10.png" alt="Gallery 10" width="94%"/>
            </div>
        </div>
    </div>
    <div class="text-center my-4">
        <button class="btn-blue text-white" (click)="onBookAnAppointmentBtnClick()">Book an Appointment</button>
    </div>
    <app-footer></app-footer>
</div>