<div class="carousel-container">
  <div class="carousel-slide" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
    <div
      *ngFor="let img of images"
      class="carousel-item"
      [style.backgroundImage]="'url(' + img.src + ')'"
    >
      <div class="text-container text-white">
        <h2 class="fw-bold">{{ img.heading }}</h2>
        <div class="line my-2"></div>
        <p>{{ img.subHeading }}</p>
        <button class="btn btn-light mt-2">Book an Appointment</button>
      </div>
    </div>
  </div>

  <!-- Dots -->
  <div class="dots-container position-absolute bottom-0 start-50 translate-middle-x mb-3 d-flex">
    <span
      *ngFor="let img of images; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="setSlide(i)"
    ></span>
  </div>
</div>
