.home{
    font-family: Poppins;
    height: 60vh;
    width: 100%;
}
.carousel-item {
    height: 60vh;
  }
  
  /* .home-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */
.home-image{
    height: 60vh;
    background-size: cover;
    background-image: url(/assets/external/home-screen-1.png);
}
.home-img-content{
width: 40%;
padding-left: 3rem;
}
.home-img-text-1{
font-size: 44px;
font-weight: 600;
}
.font-24{
font-size: 24px;
}
.btn-blue{
font-size: 30px;
border-radius: 4px;
padding: 6px 12px;
background-color: rgba(0, 26, 93, 1);
}