<div id="homeCarousel" class="carousel slide home" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="home-image d-flex align-items-center w-100 p-4" style="background-image: url('/assets/external/home-screen-1.png')">
        <div class="d-flex flex-column gap-2 home-img-content">
          <div class="home-img-text-1">Excellence in General & <br />Gastrointestinal Surgery</div>
          <div class="bg-black" style="width: 90%; height: 3px;"></div>
          <div class="font-24">Providing advanced laparoscopic and laser treatments with precision and care.</div>
          <div class="my-4">
            <button class="btn-blue text-white" (click)="onBookAnAppointmentBtnClick()">Book an Appointment</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="home-image d-flex align-items-center w-100 p-4" style="background-image: url('/assets/external/home-screen-1.png')">
        <div class="d-flex flex-column gap-2 home-img-content">
          <div class="home-img-text-1">Expertise in Laparoscopic Procedures</div>
          <div class="bg-black" style="width: 90%; height: 3px;"></div>
          <div class="font-24">Minimally invasive surgery for quicker recovery and better outcomes.</div>
          <div class="my-4">
            <button class="btn-blue text-white" (click)="onBookAnAppointmentBtnClick()">Book an Appointment</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="home-image d-flex align-items-center w-100 p-4" style="background-image: url('/assets/external/home-screen-.png')">
        <div class="d-flex flex-column gap-2 home-img-content">
          <div class="home-img-text-1">Compassionate and Personalized Care</div>
          <div class="bg-black" style="width: 90%; height: 3px;"></div>
          <div class="font-24">Dedicated to patient comfort, safety, and satisfaction every step of the way.</div>
          <div class="my-4">
            <button class="btn-blue text-white" (click)="onBookAnAppointmentBtnClick()">Book an Appointment</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional navigation controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
