.footer-bg-color {
  background-color: #e8eaef;
  font-family: 'Poppins', sans-serif;
}


.dr-name-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(17, 40, 75, 1);
}

.ul-text {
  font-weight: 600;
  font-size: 1rem;
}

.ul-text-color {
  color: rgba(238, 48, 145, 1);
}

.contact-details-text {
  font-size: 1rem;
  line-height: 1.75rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-20 {
  font-size: 1.25rem;
}
.disclaimer {
  padding: 1.25rem;
  background-color: #001498;
  color: #ffffff;
}

@media (max-width: 992px) {
  .social-icon {
    transform: translateY(-25%);
    right: 10px;
  }
}