<footer class="footer-bg-color border-top pt-4 position-relative">
  <!-- Desktop View -->
  <div class="d-none d-lg-block">
    <div class="container">
      <div class="row gap-3 justify-content-between">
        <!-- Left Column -->
        <div class="col-12 col-lg-6 d-flex flex-column gap-4 p-4">
          <div class="d-flex flex-column gap-2">
            <div class="dr-name-text">Dr. Sachin Subbaraya</div>
            <div class="bg-black" style="width: 45%; height: 3px"></div>
            <ul class="list-unstyled ul-text">
              <li><span class="ul-text-color">• Designation:</span> Consultant</li>
              <li><span class="ul-text-color">• Department:</span> General and Gastrointestinal Surgery</li>
              <li><span class="ul-text-color">• Qualification:</span> MBBS, MS (General Surgery), FIAGES, FMAS,<br/>Laser Proctology & EVLT Specialist</li>
            </ul>
          </div>
          <!-- Social Icons -->
          <div class="d-flex align-items-center gap-4 flex-wrap">
            <a href="https://www.instagram.com/" target="_blank"><img class="w-50 w-sm-75" src="assets/external/social1332-emzk-200h.png" alt="Instagram" /></a>
            <a href="https://www.facebook.com/" target="_blank"><img class="w-50 w-sm-75" src="assets/external/facebook1332-6pb-200h.png" alt="Facebook" /></a>
            <a href="https://x.com/" target="_blank"><img class="w-50 w-sm-75" src="assets/external/twitter11332-e52-200h.png" alt="X" /></a>
            <a href="https://in.linkedin.com/" target="_blank"><img class="w-50 w-sm-75" src="assets/external/linkedin31332-ptcn-200h.png" alt="LinkedIn" /></a>
            <a href="https://mail.google.com/" target="_blank"><img class="w-50 w-sm-75" src="assets/external/gmail1332-42z-200h.png" alt="Gmail" /></a>
          </div>
        </div>
        <!-- Right Column -->
        <div class="col-12 col-lg-5 d-flex flex-column flex-lg-row justify-content-between gap-4 px-4 align-items-center">
          <div class="d-flex w-100 justify-content-around">
            <div class="d-flex flex-column gap-3 font-24">
              <a routerLink="/about" class="text-black text-decoration-none">About Me</a>
              <a routerLink="/services" class="text-black text-decoration-none">Services</a>
              <a routerLink="/gallery" class="text-black text-decoration-none">Gallery</a>
              <a routerLink="/contact" class="text-black text-decoration-none">Contact</a>
            </div>
            <div class="contact-details-text d-flex flex-column gap-2">
              <div class="fw-bold">Dr. Sachin Subbaraya</div>
              <div><a [href]="'tel:' + mobile" class="text-black text-decoration-none">+91 7337774020</a></div>
              <div><a  [href]="'mailto:' + email" class="text-black text-decoration-none">Dr.SachinSubbaraya@Gmail.Com</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile View -->
  <div class="d-block d-lg-none px-3">
    <div class="dr-name-text pt-3">Dr. Sachin Subbaraya</div>
    <div class="bg-black my-2" style="width: 70%; height: 2px;"></div>
    <ul class="list-unstyled ul-text">
      <li><span class="ul-text-color">• Designation:</span> Consultant</li>
      <li><span class="ul-text-color">• Department:</span> General and Gastrointestinal Surgery</li>
      <li><span class="ul-text-color">• Qualification:</span> MBBS, MS (General Surgery), FIAGES, FMAS,<br>Laser Proctology & EVLT Specialist</li>
    </ul>

    <!-- Social Icons -->
    <div class="d-flex flex-column gap-4 px-3 px-lg-0 py-2 position-absolute social-icon position-lg-relative">
      <a href="https://www.instagram.com/" target="_blank"><img src="assets/external/social1332-emzk-200h.png" class="social-icon-img" width="40" alt="Instagram"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/external/facebook1332-6pb-200h.png" class="social-icon-img" width="40" alt="Facebook"></a>
      <a href="https://x.com/" target="_blank"><img src="assets/external/twitter11332-e52-200h.png" width="40" class="social-icon-img" alt="X"></a>
      <a href="https://in.linkedin.com/" target="_blank"><img src="assets/external/linkedin31332-ptcn-200h.png" class="social-icon-img" width="40" alt="LinkedIn"></a>
      <a href="https://mail.google.com/" target="_blank"><img src="assets/external/gmail1332-42z-200h.png" width="40" class="social-icon-img" alt="Gmail"></a>
    </div>

    <!-- Navigation Links -->
    <div class="d-flex flex-column gap-2 pt-3 font-24">
      <a routerLink="/about" class="text-dark text-decoration-none">About Me</a>
      <a routerLink="/services" class="text-dark text-decoration-none">Services</a>
      <a routerLink="/gallery" class="text-dark text-decoration-none">Gallery</a>
      <a routerLink="/contact" class="text-dark text-decoration-none">Contact</a>
    </div>

    <!-- Contact Info -->
    <div class="contact-details-text d-flex flex-column gap-1 pt-3">
      <div class="fw-bold">Dr. Sachin Subbaraya</div>
      <a [href]="'tel:' + mobile" class="text-dark text-decoration-none">+91 7337774020</a>
      <a [href]="'mailto:' + email" class="text-dark text-decoration-none">Dr.SachinSubbaraya@Gmail.Com</a>
    </div>
  </div>

  <!-- Disclaimer -->
  <div class="disclaimer text-center mt-4">
    <span class="font-20 text-white">
      The Information Provided On This Website Is For Educational Purposes Only. Consult Directly For Professional Medical Advice.
    </span>
  </div>
</footer>
