<footer
  class="footer-bg-color border-top pt-4 d-flex flex-column gap-4 justify-content-center"
>
  <div
    class="d-flex flex-column flex-sm-row w-100 gap-4 m-0 justify-content-around"
  >
    <!-- Left Info Section -->
    <div class="d-flex flex-column gap-4 p-4">
      <div class="d-flex flex-column gap-2">
        <div class="dr-name-text">Dr. Sachin Subbaraya</div>
        <div class="bg-black" style="width: 85%; height: 3px"></div>
        <ul class="list-unstyled ul-text">
          <li>
            <span class="ul-text-color">• Designation:</span> Associate
            Consultant
          </li>
          <li>
            <span class="ul-text-color">• Department:</span> General and
            Gastrointestinal Surgery
          </li>
          <li>
            <span class="ul-text-color">• Qualification:</span>
            MBBS, MS (General Surgery), FIAGES, FMAS,<br />
            Laser Proctology & EVLT Specialist
          </li>
        </ul>
      </div>
      <!-- Social Media Icons -->
      <div class="d-flex align-items-center gap-4">
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <img
            class="w-50 w-sm-75"
            src="assets/external/social1332-emzk-200h.png"
            alt="Instagram"
          />
        </a>
        <a href="https://www.facebook.com/" target="_blank" title="Facebook">
          <img
            src="assets/external/facebook1332-6pb-200h.png"
            alt="Facebook"
            class="w-50 w-sm-75"
          />
        </a>
        <a href="https://x.com/" target="_blank" title="X">
          <img
            src="assets/external/twitter11332-e52-200h.png"
            alt="X"
            class="w-50 w-sm-75"
          />
        </a>
        <a href="https://in.linkedin.com/" target="_blank" title="LinkedIn">
          <img
            src="assets/external/linkedin31332-ptcn-200h.png"
            alt="LinkedIn"
            class="w-50 w-sm-75"
          />
        </a>
        <a href="https://mail.google.com/" target="_blank" title="Gmail">
          <img
            src="assets/external/gmail1332-42z-200h.png"
            alt="Gmail"
            class="w-50 w-sm-75"
          />
        </a>
      </div>
    </div>

    <!-- Right Section -->
    <div class="d-flex gap-5 px-4">
      <div class="d-flex flex-column gap-3 font-24 px-3 px-sm-3 px-md-5">
        <a routerLink="/about" class="text-black text-decoration-none"
          >About Me</a
        >
        <a routerLink="/services" class="text-black text-decoration-none"
          >Services</a
        >
        <a routerLink="/gallery" class="text-black text-decoration-none"
          >Gallery</a
        >
        <a routerLink="/contact" class="text-black text-decoration-none"
          >Contact</a
        >
      </div>
      <div class="contact-details-text d-flex flex-column gap-2">
        <div class="fw-bold">Dr. Sachin Subbaraya</div>
        <div><a [href]="'tel:' + mobile" class="text-black text-decoration-none">+91 99013 04020</a></div>
        <div><a [href]="'mailto:' + email" class="text-black text-decoration-none">Dr. Sachin Subbaraya@Gmail.Com</a></div>
      </div>
    </div>
  </div>
  <!-- Bottom Bar -->
  <div class="disclaimer d-flex justify-content-center align-items-center m-0">
    <span class="font-20 text-white">
      The Information Provided On This Website Is For Educational Purposes Only.
      Consult Directly For Professional Medical Advice.
    </span>
  </div>
</footer>
