.footer-bg-color {
  background-color: #e8eaef;
}


.dr-name-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(17, 40, 75, 1);
}

.ul-text {
  font-weight: 600;
  font-size: 1rem;
}

.ul-text-color {
  color: rgba(238, 48, 145, 1);
}

.contact-details-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-20 {
  font-size: 1.25rem;
}
.disclaimer {
  padding: 1.25rem;
  background-color: #001498;
  color: #ffffff;
}
@media (max-width: 576px){
  .social-icon {
    transform: translateY(-25%);
    right: 10px;
  }
  social-icon-img{
    width: 60%;
  }
  .font-20 {
    font-size: 0.5rem;
  }
  .disclaimer {
    padding: 0.3rem;
  }
  .ul-text {
    width: 80%;
    font-size: 0.725rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .social-icon {
    transform: translateY(-25%);
    right: 10px;
  }
  .social-icon-img{
    width: 70%;
  }
  .font-20 {
    font-size: 0.625rem;
  }
  .disclaimer {
    padding: 0.5rem;
  }
}