.about {
  font-family: Poppins;
}

.about-image {
  height: 50vh;
  background-size: cover;
  background-color: #00149875;
  background-image: url(/assets/external/about-img.png);
}

.font-80 {
  font-size: 5rem;
}

.about-heading-text-1 {
  font-size: 2.75rem;
  font-weight: 600;
}

.text-color-pink {
  color: rgba(238, 48, 145, 1);
}

.text-color-blue {
  color: rgba(0, 26, 93, 1);
}

.bg-pink {
  background-color: rgba(238, 48, 145, 1);
}

.font-24 {
  font-size: 1.5rem;
}

.details {
  font-size: 1.25rem;
  font-weight: 600;
}

.dr-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.dr-details {
  font-size: 0.9375rem;
  font-weight: 600;
}

.desc-font {
  background-color: #e8eaef;
  color: #424141;
  font-size: 1.5rem;
  padding: 3.125rem;
}

.btn-blue {
  font-size: 1.875rem;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  background-color: rgba(0, 26, 93, 1);
}
