<div class="home d-flex flex-column w-100">
  <app-carousel></app-carousel>
  <div class="home-details w-100 d-flex">
    <div class="d-flex justify-content-evenly" style="width: 90%;">
      <div class="d-flex flex-column text-center">
        <span class="home-text113">500+</span>
        <span class="home-text114">Happy Patients</span>
      </div>
      <div class="d-flex flex-column text-center">
        <span class="home-text113">100+</span>
        <span class="home-text114">Surgeries</span>
      </div>
      <div class="d-flex flex-column text-center">
        <span class="home-text113">10+</span>
        <span class="home-text114">Years of experience</span>
      </div>
    </div>
    <a [href]="'https://wa.me/' + mobile" class="text-black text-decoration-none whatsapp-icon m-3" target="_blank">
      <img src="assets/external/whatsappicon.png" width="100" />
    </a>
  </div>
  <div class="home-about-us d-flex flex-column justify-content-center gap-4">
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
      <div class="home-heading-text-1 text-color-blue">About Me</div>
      <div class="bg-blue" style="width: 15%; height: 3px;"></div>
    </div>
    <div class="d-flex flex-column gap-4 align-items-center">
      <div class="home-heading-text-2">
        Dr. Sachin Subbaraya - Experienced General & Laparoscopic Surgeon
      </div>
      <div class="d-flex gap-4 justify-content-center">
        <div class="home-content-text-1 w-50">
          <span>
            Dr. Sachin Subbaraya is an accomplished General and Laparoscopic
            Surgeon with over a decade of experience in advanced surgical
            procedures. After earning his MBBS and MS in General Surgery from the
            prestigious MS Ramaiah Institute, he began his career as a Senior
            Resident at Apollo Hospital. Currently, he serves as an Associate
            Consultant at Manipal Hospital, where he specializes in minimally
            invasive surgical techniques.
          </span>
          <br />
          <span>
            His expertise spans a wide range of abdominal conditions, with a focus
            on laparoscopic gallbladder stone removal, appendectomy, hernia
            repair, and laser proctology for varicose veins and anorectal
            diseases. With a commitment to using cutting-edge technology, Dr.
            Sachin ensures minimal recovery time, reduced scarring, and superior
            surgical outcomes for his patients.
          </span>
        </div>
        <img src="/assets/external/dr-sachin.png" alt="doctor" width="30%" />
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
    <div class="d-flex flex-column gap-2 align-items-center">
      <div class="home-heading-text-1 text-center">Expertise in Advanced and Minimal <br />
        <span class="text-color-pink">Access Surgeries</span>
      </div>
      <div class="bg-blue" style="width: 50%; height: 4px;"></div>
    </div>
    <div class="d-flex w-80">
      <div class="d-flex flex-column gap-4 justify-content-center align-items-center flex-fill">
        <img src="/assets/external/rectangle161276-zmz-600w.png" alt="Surgery 1" width="68%" />
        <div class="font-25 text-center">
            <span class="font-30 text-color-pink fw-bold">Additional Procedures</span> <br/>Gallbladder Stone Removal <br/> Appendectomy <br/> Hernia Repair
        </div>
      </div>
      <div class="d-flex flex-column gap-4 justify-content-center align-items-center flex-fill">
        <img src="/assets/external/rectangle141276-usz-600w.png" alt="Surgery 2" width="68%" />
        <div class="font-25 text-center"> 
          <span class="font-30 text-color-pink fw-bold">Laparoscopic Surgeries </span> <br/>Gallbladder Stone Removal <br/> Appendectomy <br/> Hernia Repair
        </div>
      </div>
      <div class="d-flex flex-column gap-4 justify-content-center align-items-center flex-fill">
        <img src="/assets/external/rectangle151276-db0u-600w.png" alt="Surgery 3" width="68%" />
        <div class="font-25 text-center">
          <span class="font-30 text-color-pink fw-bold">Laser Procedures </span> <br/>Gallbladder Stone Removal <br/> Appendectomy <br/> Hernia Repair
        </div>
      </div>
    </div>
    <a href="https://en.wikipedia.org/wiki/Digestive_system_surgery" target="_blank" class="text-center">
      <button class="btn-pink-2 text-white fw-bold">Learn More</button>
    </a>
  </div>
  <div class="img-1 my-4">
    <div class="img-2">
      <div class="img-3 d-flex justify-content-center align-items-center">
        <div class="home-heading-text-4 text-center text-white">
          Schedule an Appointment for <br />a Free Consultation With <br />
          <span class="text-color-pink">the Best Gastrointestinal Surgery in Bangalore</span>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex w-80 justify-content-center m-4">
    <div class="d-flex">
      <div class="d-flex flex-column gap-2">
        <img src="/assets/external/home-img-1.png" alt="Image 1" width="76%" />
        <div class="d-flex">
          <img src="/assets/external/home-img-2.png" alt="Image 2" width="38%" style="padding-right: 0.5rem;"/>
          <img src="/assets/external/home-img-3.png" alt="Image 3" width="38%" />
        </div>
      </div>
      <div class="d-flex flex-column gap-2">
        <img src="/assets/external/home-img-4.png" alt="Image 4" width="76%" />
        <img src="/assets/external/home-img-5.png" alt="Image 5" width="76%" />
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-5 w-100 align-items-center my-4">
    <div class="text-center testimonials">Patient Testimonials</div>
    <div class="d-flex testimonials-details justify-content-center">
      <div class="d-flex flex-column w-50 p-4 gap-2">
        <div></div>
        <div class="testimonials-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ratione commodi aspernatur magni reprehenderit fuga dolorum, enim laboriosam inventore impedit. Veritatis, aliquid laborum ratione numquam totam sit ab sed eaque.</div>
        <div class="font-30 p-4"> - Mercy Mathew</div>
        <div></div>
      </div>
      <div class="d-flex justify-content-center p-4">
        <img
          src="/assets/external/rectangle271339-jinn-500w.png"
          alt="Rectangle271339"
        />
      </div>
    </div>
    <div></div>
  </div>
  <div class="d-flex justify-content-between w-85 py-4">
    <div class="doctor-img d-flex">
      <div class="shade-img d-flex flex-column justify-content-end align-items-center p-4 pb-1">
        <div class="home-heading-text-4 text-center text-white p-4 pb-0">
          Best Gastroenterologist & <br />Surgeon in Bangalore <br />
        </div>
        <div class="bg-white" style="width: 80%; height: 3px;"></div>
        <div class="my-4">
          <button class="btn-pink text-white" (click)="onBookAnAppointmentBtnClick()">Book an Appointment</button>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column gap-4 mb-2">
      <div class="d-flex flex-column gap-2">
        <div class="home-heading-text-1 text-color-blue">Dr. Sachin Subbaraya</div>
        <div class="font-24">
            MBBS, MS (General Surgery), FIAGES, FMAS, <br /> Laser Proctology & EVLT Specialist
        </div>
      </div>
      <div class="d-flex flex-column gap-2">
        <div class="home-heading-text-1 text-color-pink">Make an Enquiry</div>
        <div class="font-24 font-20">Fill out the form to book appointment with a expert</div>
      </div>
      <app-contact-form></app-contact-form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
